*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    background: scroll;
    background: fixed;
}
body{
    background-color: rgb(105, 101, 95);
    margin: 1px 1px 1px 1px;
    font-family: 'Courier New', Courier, monospace;
}
.body1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.msg{
    border:2px solid #333;
    border-radius: 5px;
    padding: 4px;
    text-align: center;
    margin: 15px 105px;
}
span:not(.details){
    opacity: 0;
}
span.fade{
    transition: all 0.4s ease;
    opacity: 1;
}
.container{
    max-width: 700px;
    width: 100%;
    background-color: whitesmoke;
    padding: 25px 30px;
    border-radius: 5px;
    border: 7px solid #333;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100%/2 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
}
.user-details .input-box input{
    height: 45px;
    width: 90%;
    outline: none;
    border-radius: 5px;
    border: 2px solid #b2b2b2;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #333;
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
}
textarea{
    resize: none;
    height: 90px;
    width: 304%;
    border-radius: 5px;
    border: 2px solid #b2b2b2;
    font-size: 16px;
    transition: all 0.3s ease;


}
.user-details .input-box-feedback input{
    height: 90px;
    width: 232%;
    outline: none;
    border-radius: 5px;
    border: 2px solid #b2b2b2;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #333;
}
form .button{
    height: 45px;
    margin: 15px 0;
}
form .button input{
    height:  100%;
    width: 100%;
    outline: none;
    color: whitesmoke;
    border: 4px ;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1;
    border-radius: 5px;
    background-color: #333;
}
form .button input:hover{
    color: #333 ;
    background: whitesmoke;
    border: 2px solid #333;
    transition: all 0.3s ease;
}

.container .registation {
    width: 100px;
}
@media(max-width: 600px){
    .container{
        max-width: 700px;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    .body1{
        height: fit-content;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
}
*{
    box-sizing: border-box;
}

nav{
    background:#333;
    color: whitesmoke;
    border-radius: 0px 0px 5px 5px;

    display: flex;
    justify-content: space-between;
}
nav .mainMenu{
    display: flex;
    list-style: none;
}
nav .mainMenu li a{
    display:inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 1.2rem;
}
nav .mainMenu li a:hover{
    background: #8f6581;
    color: whitesmoke;
    border-radius: 0 0 5px 5px;
    
}
nav .openMenu {
    font-size: 2rem;
    margin: 10px;
    display: none;
    cursor: pointer;

}
nav .mainMenu .closeMenu{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
nav .logo{
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}
@media(max-width: 800px){
    nav .mainMenu{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:#333;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav .openMenu{
        display: block;
    }
    nav .mainMenu li a:hover{
        background: none;
        color: #b2b2b2;
        font-size: 1.6rem;
    }
}